
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #181829;
  color: #fff;
}
#app {
  padding-bottom: 80px;
}
.title {
  text-align: center;
  font-weight: 600;
}
.card {
  background: #2c2c3d;
  border-radius: 14px;
  padding: 16px;
  margin: 16px;
}
h2 {
  margin-top: 0;
}
.row {
  display: flex;
  gap: 10px;
}
.box {
  background: #2c2c3d;
  padding: 10px;
  border-radius: 10px;
}
.box.full {
  width: 100%;
  margin-top: 10px;
}
.tax {
  color: #f66;
  font-size: 14px;
}
.btn {
  background: #00f2ff;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}
.divider {
  border-top: 1px solid #888;
  margin: 10px 0;
}
.expense {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  padding: 12px 0;
}
.tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #131321;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.tab {
  text-align: center;
  color: #aaa;
}
.tab.active {
  color: #00f2ff;
}
.screen {
  display: none;
}
.screen.active {
  display: block;
}